<div class="box">
    <div class="me-playground">
        <div class="svg-wrapper">
            <div class="svg-background"></div>
        </div>
        <div class="items-area">
            <div class="overlap-group">
                <div class="library-text">Library:</div>
                <div class="item-to-drop" #imgGroup>
                    <div #dragItem class="item-1">
                        <div class="icon">
                            <svg width="16" height="32" viewBox="0 0 16 32" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect x="0.5" y="0.5" width="15" height="31" rx="0.5" stroke="black" />
                                <line x1="1.52588e-05" y1="9.40477" x2="15.5493" y2="9.40477" stroke="black" />
                                <line x1="3.20422" y1="3.04762" x2="3.20422" y2="7.87302" stroke="black" />
                                <line x1="3.20422" y1="16" x2="3.20422" y2="20.8254" stroke="black" />
                            </svg>
                        </div>
                    </div>
                    <div #dragItem class="item-2">
                        <div class="icon">
                            <svg width="16" height="32" viewBox="0 0 16 32" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect x="0.5" y="0.5" width="15" height="31" rx="0.5" stroke="black" />
                                <line x1="7.5" y1="9.56187e-08" x2="7.5" y2="32" stroke="black" />
                                <line x1="5.5" y1="14" x2="5.5" y2="19.2913" stroke="black" />
                                <line x1="9.5" y1="14" x2="9.5" y2="19.2913" stroke="black" />
                                <mask id="path-5-inside-1_92_16" fill="white">
                                    <rect x="10.0571" y="7.30708" width="4.11429" height="3.27559" rx="0.5" />
                                </mask>
                                <rect x="10.0571" y="7.30708" width="4.11429" height="3.27559" rx="0.5" stroke="black"
                                    stroke-width="2" mask="url(#path-5-inside-1_92_16)" />
                            </svg>
                        </div>

                    </div>
                    <div #dragItem class="item-3">
                        <div class="icon">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect x="0.5" y="0.5" width="23" height="23" rx="0.5" stroke="black" />
                                <line y1="4" x2="23.6883" y2="4" stroke="black" />
                                <line y1="20.8976" x2="23.6883" y2="20.8976" stroke="black" />
                                <path d="M3 2.25H4.55844" stroke="black" />
                                <line x1="6" y1="2.5" x2="7.55844" y2="2.5" stroke="black" />
                                <line x1="9" y1="2.5" x2="10.5584" y2="2.5" stroke="black" />
                                <line x1="19.5" y1="2.5" x2="21.0584" y2="2.5" stroke="black" />
                                <circle cx="17.25" cy="2.25" r="0.75" fill="black" />
                                <path
                                    d="M11.8443 6.86145C15.5632 6.86151 18.5131 9.64975 18.5132 13.0118C18.5132 16.374 15.5633 19.1622 11.8443 19.1622C8.12518 19.1622 5.17532 16.3741 5.17532 13.0118C5.17545 9.64972 8.12526 6.86145 11.8443 6.86145Z"
                                    stroke="black" />
                                <line y1="-0.5" x2="4.90984" y2="-0.5"
                                    transform="matrix(0.761788 -0.647826 0.70286 0.711328 9 13.6807)" stroke="black" />
                            </svg>
                        </div>

                    </div>
                    <div #dragItem class="item-4">
                        <div class="icon">
                            <svg width="24" height="25" viewBox="0 0 24 25" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect x="0.5" y="2.25275" width="23" height="22.2473" rx="0.5" stroke="black" />
                                <line y1="5.76917" x2="24" y2="5.76917" stroke="black" />
                                <line y1="22.2593" x2="24" y2="22.2593" stroke="black" />
                                <rect x="4.19232" y="9.25494" width="15.9231" height="11.3239" rx="0.5"
                                    stroke="black" />
                                <line y1="-0.5" x2="1.50247" y2="-0.5"
                                    transform="matrix(0.739501 -0.673156 0.739501 0.673156 7.5 13.6915)"
                                    stroke="black" />
                                <line y1="-0.5" x2="4.50741" y2="-0.5"
                                    transform="matrix(0.739501 -0.673156 0.739501 0.673156 7.5 16.8307)"
                                    stroke="black" />
                                <line x1="3" y1="4.26369" x2="4.5" y2="4.26369" stroke="black" />
                                <line x1="6" y1="4.26369" x2="7.5" y2="4.26369" stroke="black" />
                                <line x1="9" y1="4.26369" x2="10.5" y2="4.26369" stroke="black" />
                                <line x1="3" y1="1.25275" x2="9" y2="1.25275" stroke="black" />
                                <path d="M15 1H21" stroke="black" />
                                <ellipse cx="17.25" cy="4.01094" rx="0.75" ry="0.752735" fill="black" />
                                <ellipse cx="20.25" cy="4.01094" rx="0.75" ry="0.752735" fill="black" />
                            </svg>
                        </div>
                    </div>
                    <div #dragItem class="item-5">
                        <div class="icon">
                            <svg width="24" height="25" viewBox="0 0 24 25" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect x="0.5" y="2.25275" width="23" height="22.2473" rx="0.5" stroke="black" />
                                <line y1="5.76917" x2="24" y2="5.76917" stroke="black" />
                                <line x1="4.5" y1="9.5" x2="19.5" y2="9.5" stroke="black" />
                                <line y1="22.2593" x2="24" y2="22.2593" stroke="black" />
                                <line x1="3" y1="4.26369" x2="4.5" y2="4.26369" stroke="black" />
                                <line x1="6" y1="4.26369" x2="7.5" y2="4.26369" stroke="black" />
                                <line x1="9" y1="4.26369" x2="10.5" y2="4.26369" stroke="black" />
                                <line x1="3" y1="1.25275" x2="9" y2="1.25275" stroke="black" />
                                <path d="M15 1H21" stroke="black" />
                                <ellipse cx="17.25" cy="4.01094" rx="0.75" ry="0.752735" fill="black" />
                                <ellipse cx="20.25" cy="4.01094" rx="0.75" ry="0.752735" fill="black" />
                            </svg>
                        </div>
                    </div>
                    <div #dragItem class="item-6">
                        <div class="icon">
                            <svg width="24" height="17" viewBox="0 0 24 17" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect x="0.5" y="0.5" width="23" height="12.4603" stroke="black" />
                                <rect x="10.881" y="13.8412" width="2.2381" height="0.761905" stroke="black"
                                    stroke-width="0.761905" />
                                <rect x="6.91744" y="15.3016" width="10.4651" height="0.634921" stroke="black"
                                    stroke-width="0.634921" />
                            </svg>
                        </div>
                    </div>
                    <div #dragItem class="item-7">
                        <div class="icon">
                            <svg width="24" height="16" viewBox="0 0 24 16" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <rect x="0.5" y="0.5" width="23" height="15" stroke="black" />
                                <line x1="17.2711" x2="17.2711" y2="16" stroke="black" />
                                <rect x="2.23492" y="2.91508" width="12.3012" height="10.1698" stroke="black" />
                                <line y1="-0.5" x2="1.75061" y2="-0.5"
                                    transform="matrix(0.691716 -0.722169 0.691716 0.722169 4.5 6.50943)"
                                    stroke="black" />
                                <line y1="-0.5" x2="3.57309" y2="-0.5"
                                    transform="matrix(0.728765 -0.684764 0.652931 0.757418 4.5 8.84673)"
                                    stroke="black" />
                                <line x1="19.5" y1="4.3" x2="21.75" y2="4.3" stroke="black" />
                                <line x1="19.5" y1="11.8" x2="21.75" y2="11.8" stroke="black" stroke-width="2" />
                                <ellipse cx="20.25" cy="7.19999" rx="0.75" ry="0.8" fill="black" />
                            </svg>
                        </div>


                    </div>
                    <div #dragItem class="item-8">
                        <div class="icon">
                            <svg width="19" height="25" viewBox="0 0 19 25" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M3.32876 24.5V5.71429C3.24274 4.14286 3.8965 1 7.19973 1C10.503 1 11.7589 4.14286 11.9739 5.71429M11.9739 5.71429C10.8126 6.38095 8.51585 9.08571 8.61908 14.5714C8.74811 21.4286 13.0062 23.8571 15.4578 23.8571V3.85714C14.7266 3.90476 13.0062 4.34286 11.9739 5.71429Z"
                                    stroke="black" />
                                <path d="M0 24.5L6.5 24.5" stroke="black" />
                                <line x1="16.732" y1="4.14287" x2="16.732" y2="23.5714" stroke="black" />
                                <circle cx="15.7642" cy="22.5" r="2.5" fill="black" />
                            </svg>
                        </div>


                    </div>
                    <div #dragItem class="item-9">
                        <div class="icon">
                            <svg width="16" height="24" viewBox="0 0 16 24" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <circle cx="8" cy="8" r="7.5" stroke="black" />
                                <circle cx="8" cy="8" r="0.5" stroke="black" />
                                <path
                                    d="M8 2.5C8.33309 2.5 8.69571 2.70275 8.99805 3.15625C9.29802 3.60625 9.5 4.25657 9.5 5C9.5 5.74343 9.29802 6.39375 8.99805 6.84375C8.69571 7.29725 8.33309 7.5 8 7.5C7.66691 7.5 7.30429 7.29725 7.00195 6.84375C6.70198 6.39375 6.5 5.74343 6.5 5C6.5 4.25657 6.70198 3.60625 7.00195 3.15625C7.30429 2.70275 7.66691 2.5 8 2.5Z"
                                    stroke="black" />
                                <path
                                    d="M8.83932 8.74242C9.00688 8.45453 9.36451 8.24312 9.90854 8.20995C10.4484 8.17706 11.112 8.32962 11.7545 8.70359C12.3971 9.07756 12.8575 9.57926 13.0955 10.0649C13.3354 10.5543 13.3282 10.9697 13.1607 11.2576C12.9931 11.5455 12.6355 11.7569 12.0914 11.79C11.5516 11.8229 10.888 11.6704 10.2454 11.2964C9.60292 10.9224 9.14247 10.4207 8.90445 9.93511C8.66458 9.44569 8.67176 9.0303 8.83932 8.74242Z"
                                    stroke="black" />
                                <path
                                    d="M7.66686 8.93211C7.85528 9.2068 7.8932 9.62051 7.69024 10.1264C7.48882 10.6283 7.0668 11.1627 6.45373 11.5832C5.84066 12.0037 5.19014 12.205 4.64936 12.2122C4.10437 12.2194 3.73206 12.0351 3.54364 11.7604C3.35523 11.4857 3.31731 11.072 3.52027 10.5661C3.72168 10.0642 4.1437 9.52981 4.75677 9.10928C5.36984 8.68875 6.02037 8.48747 6.56114 8.48029C7.10613 8.47308 7.47844 8.65743 7.66686 8.93211Z"
                                    stroke="black" />
                                <rect x="4.32143" y="23.0357" width="8.24603" height="0.642857" stroke="black"
                                    stroke-width="0.642857" />
                                <rect x="8.25" y="15.25" width="0.5" height="7.5" stroke="black" stroke-width="0.5" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="placeholders-area">
            <div class="overlap">
                <div class="electric-line"></div>
                <div class="ONIS" #ONIS (click)="openPopup()">
                    <!-- Popup -->
                    <div *ngIf="showPopup" #popupOverlay class="popup-overlay">
                        <div #popupContent class="popup-content" (click)="onPopupClick($event)">
                            <div class="ONISdescript">
                            </div>
                            <p class="description">Das ONIS (Online Network Impedance Spectrometer) ist ein hochmodernes Gerät, das für hochfrequente Netzqualitäts- und Netzimpedanzmessungen bis zu 500 kHz entwickelt wurde.</p>
                            <button (click)="closePopup()">Close</button>
                        </div>
                    </div>

                    <div class="overlap-2">
                    </div>
                </div>
                <div class="placeholders" #placeAble>
                    <div #placeholder class="placeholder-1">
                        <div class="icon" *ngIf="_placeholders[0].itemId !== null"
                            [innerHTML]="getSafeHtml(items[_placeholders[0].itemId].svgIcon)">
                            <p></p>
                        </div>
                    </div>
                    <div #placeholder class="placeholder-2">
                        <div class="icon" *ngIf="_placeholders[1].itemId !== null"
                            [innerHTML]="getSafeHtml(items[_placeholders[1].itemId].svgIcon)">
                        </div>
                    </div>
                    <div #placeholder class="placeholder-3">
                        <div class="icon" *ngIf="_placeholders[2].itemId !== null"
                            [innerHTML]="getSafeHtml(items[_placeholders[2].itemId].svgIcon)">
                        </div>
                    </div>
                    <div #placeholder class="placeholder-4">
                        <div class="icon" *ngIf="_placeholders[3].itemId !== null"
                            [innerHTML]="getSafeHtml(items[_placeholders[3].itemId].svgIcon)">
                        </div>
                    </div>
                    <div #placeholder class="placeholder-5">
                        <div class="icon" *ngIf="_placeholders[4].itemId !== null"
                            [innerHTML]="getSafeHtml(items[_placeholders[4].itemId].svgIcon)">
                        </div>
                    </div>
                    <div #placeholder class="placeholder-6">
                        <div class="icon" *ngIf="_placeholders[5].itemId !== null"
                            [innerHTML]="getSafeHtml(items[_placeholders[5].itemId].svgIcon)">
                        </div>
                    </div>
                    <div #placeholder class="placeholder-7">
                        <div class="icon" *ngIf="_placeholders[6].itemId !== null"
                            [innerHTML]="getSafeHtml(items[_placeholders[6].itemId].svgIcon)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="chart">
            <app-chart></app-chart>
        </div>
        <div class="instruction">
            <p class="instruction-text" #instructionText>
                Hello!
            </p>
        </div>
    </div>
</div>